<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.new_project">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <application>
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="2286c37a70f3b65c016d1c32229ac841"/>
    </application>
</manifest>
